@page "/"
@using bank.lib

<PageTitle>Index</PageTitle>

<h1>Make an account</h1>

<label>Name</label> <br />
<input type='text' @bind=newAccountName /> <br />
<button @onclick="makeCheckingAccount">Make Checking Account</button>
<button @onclick="makeSavingsAccount">Make Savings Account</button> <br />
<button @onclick="saveAccounts">Save Accounts</button> <br />

<h1>Account List</h1>
@if (bank.Accounts.Count() == 0)
{
    <p>No accounts in list.</p>
}

@foreach (var account in bank.Accounts)
{
    <a href="/account/@account.Name">
        @account.Name
    </a> <br/>
}

@code
{
    protected override void OnInitialized()
    {
        bank.LoadAccounts();
    }

    string newAccountName;
    string errorMessage;
    Bank bank = new ();

    private void makeCheckingAccount()
    {
        errorMessage = bank.MakeCheckingAccount(newAccountName);
        newAccountName = null;
    }

    private void makeSavingsAccount()
    {
        errorMessage = bank.MakeSavingsAccount(newAccountName);
        newAccountName = null;
    }

    private void saveAccounts()
    {
        bank.SaveAccounts();
    }
}