@using bank.lib;

<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <p>EMotion score of title: @(TestInterface.GetEmotionScore(Title))</p>

    <span class="text-nowrap">
        Imporance: @Importance
    </span>

    <button @onclick=doubleImportance>Double It!</button>
    
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public int Importance{get;set;} = -5;

    void doubleImportance()
    {
        Importance = Importance.DoubleIt();
        Title = Title.DoubleIt();

        double f = 5.2;
        f.DoubleIt();
    }
}
